{% extends 'base.html' %}
{% load static %}

{% block javascript %}
	<script src="{% static 'calendar/js/main.js' %}"></script>
	<script src="{% static 'calendar/js/ajax.js' %}"></script>
{% endblock%}

{% block css %}
	<link href="{% static 'calendar/css/calendar_style.css' %}" rel="stylesheet">
{% endblock%}

{% block content %}
	<div class="row">
		<div id="calendar" class="col-md-7"></div>
	  <div class="col-md-5 event-box">
			<button type="button" class="btn btn-primary js-create-event" data-url="{% url 'Calendar:CreateEvent' %}">
			  <span class="glyphicon glyphicon-plus"></span>
			  New Event
			</button>
	  </div>
	</div>

	<div class="modal fade" id="modal-event" role="dialog">
	  <div class="modal-dialog modal-md">
	    <div class="modal-content">

	    </div>
	  </div>
	</div>
{% endblock %}
