{% extends 'base.html' %}
{% load static %}

{% block javascript %}
	<script src="{% static 'calendar/js/main.js' %}"></script>
	<script src="{% static 'calendar/js/ajax.js' %}"></script>
{% endblock%}

{% block css %}
	<link href="{% static 'calendar/css/calendar_style.css' %}" rel="stylesheet">
{% endblock%}

{% block content %}
	<div class="row">
		<div id="calendar" class="col-md-7"></div>
	  <div class="col-md-5 event-box">
			<form action="" method="post">
		    {% csrf_token %}
				{% for field in form %}
						<h6 style="float:left;">{{field.help_text}}</h6> {{field}} </br></br>
				{% endfor %}
		    <input type="submit" value="Submit" />
			</form>
	  </div>
	</div>

{% endblock %}
