<a href="{% url 'Homepage' %}">Wroc do strony głównej</a></br></br>

Notatki:</br>
{% for note in notes_list%}
tytul:  {{note.title}}</br>
data: {{note.created_on}}</br>
tresc: {{note.content}}</br></br>
{% endfor %}


{{form}}
Dodaj:
{% csrf_token %}
<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <p>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  <button type="submit">Sign up</button>
</form>
