{% extends 'base.html' %}

{% block content %}
<a href="{% url 'Homepage' %}">Wroc do strony głównej</a></br></br>

Notes:</br>

{% for note in notes_list%}
Title:  {{note.title}}</br>
Content: {{note.content}}</br>

<a href="{% url 'Note Update' note.id%}"><button type="submit" style="float:left;">Edit</button></a>
<form action="{% url 'Note Delete' note.id %}" method="POST">
  {% csrf_token %}
  <button type="submit" style="float:left;">Delete</button>
</form>
</br></br>
{% endfor %}

Add:</br>
{% csrf_token %}
<form method="post">
  {% csrf_token %}
  {% for field in form%}
  {{field}} </br>
  {% endfor %}
  <button type="submit">Zapisz</button>
</form>
{% endblock %}
