<a href="{% url 'Homepage' %}">Wroc do strony głównej</a></br></br>

Notes:</br>
{% for note in notes_list%}
id:  {{note.id}}</br>
tytul:  {{note.title}}</br>
autor: {{note.created_by}}</br>
data: {{note.created_on}}</br>
tresc: {{note.content}}</br></br>
<form action="{% url 'note_delete' note.id %}" method="POST">
  <button type="submit">Delete</button>
</form>
{% endfor %}

Add:
{% csrf_token %}
<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <p>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  <button type="submit">Zapisz</button>
</form>
