{% extends 'base.html' %}
{% load static %}
{% block content %}
  <a href="{% url 'Homepage' %}">Wroc do strony głównej</a></br>

  <p>
  <button type="button" class="btn btn-primary js-create-list" data-url="{% url 'todo_list:Todo List Create' %}">
    <span class="glyphicon glyphicon-plus"></span>
    New List
  </button>
  </p>
</br>
  <h1>Lists:</h1>
  <ul>
    {% for List,Items in queryset.items %}
      <li>{{ List.title }}:</br></br>
        <ul>

          {% for Item in Items %}
          <li>{{Item.content}}</li></br>
          <form action="{% url 'todo_list:Todo Item Delete' Item.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Delete Item</button>
          </form>
          {% endfor %}

        </ul>
        <form action="{% url 'todo_list:Todo List Delete' List.id %}" method="POST">
          {% csrf_token %}
          <button type="submit">Delete List</button>
        </form>

      </li>
    {% endfor %}
  </ul>

  <div class="modal fade" id="modal-add_list">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script src="{% static 'todo_list/js/main.js'%}"></script>
{% endblock%}
