{% extends 'base.html' %}
{% load static %}

{% block javascript %}
<script src="{% static 'todo_list/js/main.js'%}"></script>
{% endblock%}

{% block content %}
  <a href="{% url 'Homepage' %}">Wroc do strony głównej</a></br>

  <p>
  <button type="button" class="btn btn-primary js-create-list" data-url="{% url 'todo_list:Todo List Create' %}">
    <span class="glyphicon glyphicon-plus"></span>
    New List
  </button>
  </p>
</br>
{% include 'todo_list_list.html' %}
  <div class="modal fade" id="modal-add_list">
    <div class="modal-dialog">
      <div class="modal-content">
        awdaw
      </div>
    </div>
  </div>
{% endblock %}
