<a href="{% url 'Homepage' %}">Wroc do strony głównej</a></br>
<h1>Lists:</h1>
<ul>
    {% for List,Items in queryset.items %}
      <li>{{ List.title }}:</br></br>
        <ul>
          {% for Item in Items %}
          <li>{{Item.content}}</li></br>
          <form action="{% url 'todo_list:Todo Item Delete' Item.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Delete Item</button>
          </form>
          {% endfor %}
        </ul>
        <form action="{% url 'todo_list:Todo List Delete' List.id %}" method="POST">
          {% csrf_token %}
          <button type="submit">Delete List</button>
        </form>

      </li>
    {% endfor %}

    <form action="AddList" method="post">

    {% csrf_token %}
      {% for field in ListForm %}
        <p>
          {{ field }}
          {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <button type="submit">Save List</button>
    </form>

</ul>
