<div class="container">
   <form method="post" action="{% url 'todo_list:Todo List Create' %}" class="js-list-create-form">
    {% csrf_token %}
    <div class="modal-header">
      <h4 class="modal-title">Create a new List</h4>
    </div>
    <div class="modal-body">
      {{form}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Create List</button>
    </div>
  </form>
</div>
