<div class="container">
   <form method="post" action="{% url 'todo_list:Todo List Edit' form.instance.pk %}" class="js-list-create-form">
    {% csrf_token %}
    <div class="modal-header">
      <h4 class="modal-title">Edit List</h4>
    </div>
    <div class="modal-body">
      {% include 'todo_list_form.html' %}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Edit List</button>
    </div>
  </form>
</div>
