<h1>Lists:</h1>
<ul class="ListList">
  {% for List,Items in queryset.items %}
    <li>
      <h5 style="float:left;">
        {{ List.title }}:
      </h5>
      <form action="{% url 'todo_list:Todo List Delete' List.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" style="float:left;margin-left:50px" class="btn btn-danger btn-xs">  <span class="glyphicon glyphicon-remove "></span></button>
      </form>
    </br></br>

      <ul class="ItemList">
        {% for Item in Items %}
        <li><h5 style="float:left;">{{Item.contet}}</h5>
        <form action="{% url 'todo_list:Todo Item Delete' Item.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" style="float:left;margin-left:50px" class="btn btn-danger btn-xs">  <span class="glyphicon glyphicon-remove"></span></button>
        </form>
      </li></br>
        {% endfor %}
      <button type="button" class="btn btn-primary js-create-item" data-url ="{% url 'todo_list:Todo Item Create' List.id %}" >
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      </ul>

    </li></br>
  {% endfor %}
</ul>
