<!DOCTYPE html>
<html lang="pl_PL">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Manage Your Life!</title>

    <link rel="stylesheet" type="text/css" href="static/main_style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">
  </head>

  <body>

    <div class="container">

      <div class="row">

!
        <footer>

            {% if user.is_authenticated %}
              Hello {{user.username}}
              <a href="{% url 'Logout' %}">logout</a>

            {%else%}
              {%block content%}
                <form method="post">
                  {% if form.errors %}
                  <pe>Your username and password didn't match. Please try again.</pe>
                  {% endif %}
                  {% csrf_token %}
                  {{ form }}
                  <button class="login_button" type="submit">Login</button>
                </form>
              {% endblock %}

            {%endif%}
        </footer>
      </div>

      <div class="row">
        <header>

        </header>
      </div>

      <div class="row" style="padding-top:15px;">
        <div class="col-md-4 col-xs-12 link_box">Jestem sobie kolumna</div>
        <div class="col-md-4 col-xs-12 link_box">Lalalalalal</div>
        <div class="col-md-4 col-xs-12 link_box">Napis lol</div>
      </div>

      <div class="row">
        <header>
          <p2>
            Nadchodzące wydarzenia - > puste gdy niezalogowany
          </p2>
        </header>
      </div>

      <div class="row"> <br> Wiecej rzeczy i jakas stopka pewnie </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>

  </body>

</html>
