{% extends 'base.html' %}

{% block content %}
<div class="row">
  <footer>
      {% if user.is_authenticated %}
        <p_button>
          Hello {{user.username}}
        </p_button>
        <a href="{% url 'Logout' %}"><button class="login_button" style=float:right;>Logout</button></a>

      {%else%}
          <form method="post">
            {% if form.errors %}
            <pe>Your username and password didn't match. Please try again.</pe>
            {% endif %}
            {% csrf_token %}
          {{form}}
            <button class="login_button" type="submit" style="float:right;"><p_button>
              Sign In
            </p_button></button>
          </form>
        <a href="{% url 'Registration' %}">  <button class="login_button"><p_button>
          Sing Up
        </p_button></button></a>

      {%endif%}
  </footer>
</div>

<div class="row">
  <header>

  </header>
</div>

<div class="row" style="padding-top:15px;">
  <a href="{% url 'Calendar Homepage' %}">
      <div class="col-md-4 col-xs-12 link_box">
      <h5>
        Calendar
      </h5>
    </div>
  </a>
  <a href="{% url 'todo_list:Todo Homepage' %}">
    <div class="col-md-4 col-xs-12 link_box">
      <h5>
        Todo list
      </h5>
    </div>
    </a>
  <a href="{% url 'Note Homepage' %}">
    <div class="col-md-4 col-xs-12 link_box">
      <h5>
        Note
      </h5>
      </div>
    </a>
</div>
<div class="row">
  <header>
    <p2>
      Nadchodzące wydarzenia - > puste gdy niezalogowany
    </p2>
  </header>
</div>

<div class="row"> <br> Wiecej rzeczy i jakas stopka pewnie </div>
{% endblock %}
